<div class="shadow">
    <mat-toolbar color="primary">
        <div class="logo_box">
            <a mat-button href="main" class="logo_content">Conference</a>
        </div>
        <div *ngIf="isAdmin()">
            <button mat-button [matMenuTriggerFor]="menu">Gestion</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="main/admin/adminConferences">Conference</button>
                <button mat-menu-item routerLink="main/admin/adminUsers">Utilisateurs</button>
            </mat-menu>
        </div>


        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <a *ngIf="!isAuthenticated()" mat-button href="/access/login">Login</a>
        <a *ngIf="!isAuthenticated()" mat-button href="/access/register">Register</a>
        <a *ngIf="isAuthenticated()" mat-button href="/main/profile">{{username}}</a>
        <a *ngIf="isAuthenticated()" mat-button href="#" (click)="logOut()">Logout</a>

    </mat-toolbar>
</div>