<div class="shadow">
    <mat-toolbar color="primary">
        <div class="logo_box">
            <a mat-button href="#" class="logo_content">Conference</a>
        </div>
        <div>
            <a *ngIf="isAuthenticated()" mat-button href="#">Gestion</a>
        </div>


        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>

        <a *ngIf="!isAuthenticated()" mat-button href="/access/login">Login</a>
        <a *ngIf="!isAuthenticated()" mat-button href="/access/register">Register</a>
        <a *ngIf="isAuthenticated()" mat-button href="/main/profile">{{username}}</a>
        <a *ngIf="isAuthenticated()" mat-button href="#" (click)="logOut()">Logout</a>

    </mat-toolbar>
</div>