<div class="footer-box">
    <div class="row footer-content">
        <div class="col-sm-6 col-md-2 col-lg-3 footer-logo">
            <img src="assets/img/conference-logo.png" alt="Logo" />
        </div>
        <div class="col-sm-12 col-md-8 col-lg-6 footer-text">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem qui minus repellendus non,
                maxime voluptas. Itaque illum eos sequi et tempore velit suscipit eveniet nesciunt, at optio qui
                corporis impedit.</p>
        </div>
        <div class="col-sm-6 col-md-2 col-lg-3 footer-copyright">
            <p class="copyright-text">2020 C</p>
        </div>
    </div>
</div>