<div class="footer-box">
    <div class="row footer-content">
        <div class="col-sm-12  col-lg-3 footer-logo">
            <div style="padding-top: 5px ;text-align: center;">
                <img src="assets/img/conference-logo.png" alt="Logo" class="logo" />
            </div>
        </div>
        <div class="col-sm-12  col-lg-6">
            <div class="footer-text-div">
                <div class="footer-text">
                    <p>Copyright © 2020 ,
                        except certain content provided by third parties. Cookies are used by this site. To decline or
                        learn more, visit our<a href="#" class="footer__nav-links">Cookies</a> page.</p>
                    <ul>
                        <li><a href="main/landing" class="footer__nav-links">Home</a></li>
                        <li><a href="#" class="footer__nav-links">About Us</a></li>
                        <li><a href="main/conferences/find-a-conference" class="footer__nav-links">Conferences</a></li>
                        <li><a href="#" class="footer__nav-links">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12  col-lg-3">
            <div class="footer-copyright-div">
                <p class="copyright">
                    Copyright © 2020 CROWDMEETING. All
                    Rights Reserved.</p>
            </div>

        </div>
    </div>
</div>