<div class="container">
    <h3 mat-dialog-title>Add new Conference</h3>

    <form class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm">

        <div class="form">
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" required>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <!--Textarea for demo purposes-->
        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="username" [(ngModel)]="data.username"
                    name="username" required></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <!--Contains mat-hint for characters count and has maxLengt set-->

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="email" [(ngModel)]="data.email" name="email"
                    required></textarea>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="phone" [(ngModel)]="data.phone" name="phone"
                    required></textarea>
            </mat-form-field>
        </div>

        <div class="form">
            <mat-form-field color="accent">
                <textarea disabled matInput #input class="form-control" placeholder="role" [(ngModel)]="data.role" name="role"
                    required></textarea>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
                (click)="confirmAdd()">Save</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
    </form>
</div>