
<span></span>
<span></span>
<span></span>
<span></span>
<span></span>

<div class="d-flex justify-content-center">
  <!-- Default form login -->
  <form class="text-center border border-light p-5" #f="ngForm" (ngSubmit)="onLogin(f.value)">

    <p class="h4 mb-4">Sign in</p>

    <!-- Email -->
    <input type="text"  class="form-control mb-4" name="username" ngModel placeholder="Username">

    <!-- Password -->
    <input type="password" name="password" ngModel class="form-control mb-4" placeholder="Password">

    <div class="d-flex justify-content-around">

    </div>

    <!-- Sign in button -->
    <button class="btn btn-info btn-block my-4" type="submit">Sign in</button>

    <!-- Register -->
    <p>Not a member?
      <a href="">Register</a>
    </p>



  </form>
  <!-- Default form login -->
</div>
