<div class="outer ">
  <div class="container">
    <mat-card class="box_container">

      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
      <div class="form_content">
        <form #f="ngForm" (ngSubmit)="onLogin(f.value)" class="example-form">

          <mat-card-content>
            <mat-form-field class="example-full-width">
              <mat-label>Username</mat-label>
              <input type='text' matInput name="username" ngModel>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input type='password' matInput name="password" ngModel>
            </mat-form-field>
          </mat-card-content>

          <button mat-stroked-button color="primary" class="btn-block" type="submit">Log in</button>
        </form>
        <div class="d-flex justify-content-center" style="margin-top: 50px;">Not a member? <a style="margin-left: 5px; "
            href="/access/register">Register</a></div>
      </div>

    </mat-card>
  </div>
</div>