<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Gestion de L'utilisateur</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary" routerLink="../adminUsers">GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Gestion de Conference</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary" routerLink="../adminConferences">GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Gestion de Proposition</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary">GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Gestion de Session</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary">GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Gestion de Reviews</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary">GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Assigner conference</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    </p>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary" routerLink="../assign">GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>