<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Gestion des reviewers</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary" routerLink="../chairUsers">GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Gestion des sessions</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary" >GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Gestion de Proposition</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary">GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Gestion de Reviews</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary">GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>

        <div class="col-lg-4 col-md-6 col-sm-12" style="margin-bottom: 20px;">
            <mat-card class="card" style="border-style: solid; border-color: rgb(28, 109, 175);">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>Assigner Sessions</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                </mat-card-content>
                <mat-card-actions style="text-align: center;">
                    <button mat-stroked-button color="primary" >GO TO SECTION</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>