<div class="body-box" style="margin-top: 70px;">
    <div class="hero-box">
        <section class="hero">
            <div class="text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary-main">CROWDMEETING</span>
                    <span class="heading-primary-sub">Conferences for everyone</span>
                </h1>
                <a href="/main/conferences/find-a-conference" class="btn btn-white btn-animated">Find a conference</a>
            </div>
        </section>
    </div>
    <div class="content-box">
        <div class="intro-content-box">
            <div class="row">
                <div class="col">

                    <section>
                        <section class="line-after-content"></section>
                        <div class="mat-display-3" style="font-family: 'Asap Condensed'; text-align: center;">Welcome
                            to
                            <mark style="background: none; color: rgb(9, 81, 139); font-weight: bold;">CROWD</mark><mark
                                style="background: none; color: rgb(27, 139, 231); font-weight: bold;">MEETING</mark>
                        </div>
                        <p> <mark style="background: none; color: rgb(9, 81, 139); font-weight: bold;">CROWD</mark><mark
                                style="background: none; color: rgb(27, 139, 231); font-weight: bold;">MEETING</mark> is
                            a meeting
                            which researchers attend to present
                            their findings and hear about
                            the latest work within their field. These events are usually organised by associations or
                            groups of independent researchers under the watchful eye of a scientific or technical
                            committee who ensure the technical quality of the research that’s presented. </p>
                    </section>
                    <section class="line-after-content"></section>
                </div>
            </div>
        </div>
        <div class="article-content-box">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h1 style="font-family: 'Asap Condensed'; font-size: 2.5rem;">Attend Conference</h1>
                    <p>We organize a variety of academic conferences covering Life Sciences, Physical Science &
                        Engineering, Education, Social Sciences and Health Sciences.</p>
                    <a href="/main/conferences/find-a-conference"
                        style="font-family: 'Asap Condensed';text-decoration: none;">Find a conference</a>
                </div>
                <div class=" col-sm-12 col-lg-6">
                    <img src="assets/img/conference-attend.jpeg" alt="attend conference" class="attend-con-img">
                </div>
            </div>

        </div>
    </div>
</div>