<div class="body-box" style="margin-top: 70px;">
    <div class="hero-box">
        <section class="hero">
            <div class="text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary-main">CROWDMEETING</span>
                    <span class="heading-primary-sub">Conferences for everyone</span>
                </h1>
                <a href="/main/conferences/find-a-conference" class="btn btn-white btn-animated">Find a conference</a>
            </div>
        </section>
    </div>
    <div class="content-box">
        <div class="intro-content-box">
            <div class="row">
                <div class="col">
                    <section>
                        <div class="mat-display-3">Welcome to CROWDMEETING</div>
                        {{user}}
                        <p>Intro text goes here : Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
                            obcaecati deleniti nisi laudantium id quia rem optio quisquam, ratione repudiandae facilis
                            aliquid rerum nulla pariatur iure, minus qui consectetur expedita! </p>
                    </section>
                    <section class="line-after-content"></section>
                </div>
            </div>
        </div>
        <div class="article-content-box">
            <div class="row">
                <div class="col-sm-12 col-lg-6">
                    <h1>Attend Conference</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis sit at, animi consequuntur
                        reprehenderit, architecto vero libero quae quisquam adipisci,</p>
                    <a href="/main/conferences/find-a-conference">Find a conference</a>
                </div>
                <div class=" col-sm-12 col-lg-6">
                    <img src="assets/img/conference-attend.jpeg" alt="attend conference" class="attend-con-img">
                </div>
            </div>

        </div>
    </div>
</div>