<div class="container">
    <h3 mat-dialog-title>Conference id: {{data.id}}</h3>

    <form class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm">

        <div class="form">
            <mat-form-field color="accent">
                <input matInput #input class="form-control" placeholder="Id" [(ngModel)]="data.id" name="id" disabled>
                <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
            </mat-form-field>
        </div>

        <!--Textarea for demo purposes-->
        <div class="form">
            <mat-form-field color="accent">
                <textarea matInput #input class="form-control" placeholder="Title" [(ngModel)]="data.title" name="title"
                    required></textarea>
                <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>

        <!--Contains mat-hint for characters count and has maxLengt set-->

        <div class="form">
            <mat-form-field color="accent">
                <mat-label>Value binding</mat-label>
                <input matInput [matDatepicker]="picker3" [(ngModel)]="data.datedebut" name="datedebut">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
        </div>

        <div mat-dialog-actions>
            <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1"
                (click)="stopEdit()">Save</button>
            <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
        </div>
    </form>
</div>